{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% if data: %}
      {% for obj in data %}
      <tr>
        <td>{{ obj.symbol }}</td>
        <td>{{ obj.name }}</td>
        <td>{{ obj.shares }}</td>
        <td>${{ "%.2f"|format(obj.price) }}</td>
        <td>${{ "%.2f"|format(obj.total) }}</td>
      </tr>
      {% endfor %}
    {% endif %}
      <tr>
        <td>CASH</td>
        <td></td>
        <td></td>
        <td></td>
        <td>${{ "%.2f"|format(cash) }}</td>
     </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>$<strong>{{ "%.2f"|format(total) }}</strong></td>
   </tr>
  </tbody>
</table>
{% endblock %}